# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.playwright-mcp/page-2026-05-08T00-35-09-538Z.yml
.playwright-mcp/page-2026-05-08T00-35-22-351Z.yml
.playwright-mcp/page-2026-05-08T00-35-43-063Z.yml
.playwright-mcp/page-2026-05-08T00-35-57-448Z.yml
.playwright-mcp/page-2026-05-08T00-36-04-454Z.yml
.playwright-mcp/page-2026-05-08T00-36-30-211Z.yml
.playwright-mcp/page-2026-05-08T00-37-31-154Z.yml
.playwright-mcp/page-2026-05-08T00-37-36-252Z.yml
.playwright-mcp/page-2026-05-08T00-37-51-975Z.yml
.playwright-mcp/page-2026-05-08T00-37-59-017Z.yml
.playwright-mcp/page-2026-05-08T00-39-00-220Z.yml
.playwright-mcp/page-2026-05-08T00-39-06-575Z.yml
.playwright-mcp/page-2026-05-08T00-39-28-393Z.yml
.playwright-mcp/page-2026-05-08T00-39-55-681Z.yml
.playwright-mcp/page-2026-05-08T00-40-01-647Z.yml
.playwright-mcp/page-2026-05-08T00-41-09-107Z.yml
.playwright-mcp/page-2026-05-08T00-41-15-410Z.yml
.playwright-mcp/page-2026-05-08T00-41-41-682Z.yml
.playwright-mcp/page-2026-05-08T00-48-05-890Z.yml
.playwright-mcp/page-2026-05-08T00-48-34-070Z.yml
.playwright-mcp/page-2026-05-08T00-49-05-646Z.yml
.playwright-mcp/page-2026-05-08T00-49-12-990Z.yml
.playwright-mcp/page-2026-05-08T00-49-53-867Z.yml
.playwright-mcp/page-2026-05-08T00-54-55-529Z.yml
.playwright-mcp/page-2026-05-08T00-59-11-709Z.yml
.playwright-mcp/page-2026-05-08T00-59-19-955Z.yml
.playwright-mcp/page-2026-05-08T00-59-26-651Z.yml
.playwright-mcp/page-2026-05-08T00-59-34-954Z.yml
.playwright-mcp/page-2026-05-08T01-00-31-978Z.yml
.playwright-mcp/page-2026-05-08T01-00-39-834Z.yml
.vite/deps/_metadata.json
.vite/deps/package.json
.vite/deps_temp_0e7fd72b/package.json
.vite/deps_temp_2addf81b/package.json
dist/index.html
dist/logo.png
dist/robots.txt
dist/sitemap.xml
dist/vite.svg
dist/assets/browser-BXdiCFWD.js
dist/assets/CheckoutModal-nFwRIhh7.css
dist/assets/CheckoutModal-RjGuRo_r.js
dist/assets/index-D328XQQ8.js
dist/assets/index-ED_yEUBU.css
.vite/deps/@supabase_supabase-js.js
.vite/deps/@supabase_supabase-js.js.map
.vite/deps/@tanstack_react-query.js
.vite/deps/@tanstack_react-query.js.map
.vite/deps/chunk-3O7X656O.js
.vite/deps/chunk-3O7X656O.js.map
.vite/deps/chunk-42HJKOCB.js
.vite/deps/chunk-42HJKOCB.js.map
.vite/deps/chunk-WVDXEGU4.js
.vite/deps/chunk-WVDXEGU4.js.map
.vite/deps/react_jsx-dev-runtime.js
.vite/deps/react_jsx-dev-runtime.js.map
.vite/deps/react-dom_client.js
.vite/deps/react-dom_client.js.map
.vite/deps/react-router-dom.js
.vite/deps/react-router-dom.js.map
.vite/deps/react.js
.vite/deps/react.js.map
.vite/deps/zustand_middleware.js
.vite/deps/zustand_middleware.js.map
.vite/deps/zustand.js
.vite/deps/zustand.js.map
